.sidebar {
    background-color: #1e293b;
    color: white;
    padding: 1.5rem;
    width: 200px;
    height: 150vh;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.sidebar h2 {
    font-size: 1.5rem;
}

.sidebar label {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 1rem;
    cursor: pointer;
}

